<tr class="todolist">
  <td class="todolist-name">
    <a href="/tasks/todolist/<%= todolist.id %>">
      <%= todolist.name %>
    </a>
  </td>
  <td class="todolist-end-time">
    <input type="text" class="todolist-end-time" value="<%= todolist.end_time %>" readonly/>
  </td>
  <td class="todolist-actions">
    <a href="/tasks/todolist/update/<%= todolist.id %>" data-method="post" class="edit-todolist-btn">
      edit
    </a>
    <a href="/tasks/todolist/<%= todolist.id %>" data-method="delete" class="delete-todolist-btn">
      delete
    </a>
  </td>
</tr>
